@model Destination
@{
    ViewData["Title"] = "Show Destination";
}
<style>
      h2{
    font-weight: 800;
    font-family:'comic sans-ms';
    color: #1DB9C3;
    font-size: 45px;
    width: 100%;
    line-height: 50px;
    }
    .styleLink{ 
      background: black;
      border-radius: 20px;
      margin-top: 20px;
      padding : 15px 20px 15px 20px;
      color: white;
      }
</style>
<h2>@Html.DisplayFor(modelItem => Model.Place)</h2>  
<table class="table table-hover">
    <tr>
      <td >Kategori:</td>
      <td >@Html.DisplayFor(modelItem => Model.CategoryId)</td>
    </tr>
    <tr>
      <td>Deskripsi:</td>
      <td >@Html.DisplayFor(modelItem => Model.Deskripsi)</td>
    </tr>
    <tr>
      <td>Tiket:</td>
      <td>Rp.@Math.Round(@Model.Price)</td>
    </tr>
</table>
    <a class="styleLink" asp-controller="TourAndTravel" asp-action="Transaksi" asp-route-id="@Model.Id">Beli Tiket</a>
