@model Destination
@{
ViewData["Title"] = "Delete";
}

<h2> Confirm Delete"@Html.DisplayFor(modelItem => Model.Place)"?</h2>
<table class="table table-hover">
    <tr>
      <td >Price:</td>
      <td >@Html.DisplayFor(modelItem => Model.CategoryId)</td>
    </tr>
    <tr>
      <td >Price:</td>
      <td >@Html.DisplayFor(modelItem => Model.Price)</td>
    </tr>
    <tr>
      <td >Kota:</td>
      <td >@Html.DisplayFor(modelItem => Model.Kota)</td>
    </tr>
    <tr>
      <td >Deskripsi:</td>
      <td >@Html.DisplayFor(modelItem => Model.Deskripsi)</td>
    </tr>
</table>
<form asp-controller="Admin" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">
      <button  class="btn btn-danger" type="submit">Yes</button>
      <a class="btn btn-primary" asp-controller="Admin" asp-action="Tempat">Back</a>
</form>