@model Destination
@{
    ViewData["Title"] = "Show Destination";
}
<style>
      h2{
    font-weight: 800;
    font-family: 'Zen Kurenaido', sans-serif;
    color: #0F3460;
    font-size: 45px;
    width: 100%;
    line-height: 50px;
    }
    .styleLink{ 
      background:#F0A500;
      border-radius: 20px;
      margin-top: 20px;
      padding : 15px 20px 15px 20px;
      color: white;
      }
      body{
  background-color: #D1E8E4;
}
  p{
    font-size: 20px;
    font-family: 'comic sans-ms';
  }
</style>
<body>
  
<h2 style="text-align: center;"><u>@Html.DisplayFor(modelItem => Model.Place)</u></h2>  
    <p>DestinationId :@Html.DisplayFor(modelItem => Model.Id)</p>
    <p>Kategori @Html.DisplayFor(modelItem => Model.CategoryId)</p>
    <p>@Html.DisplayFor(modelItem => Model.Deskripsi)</p>
    <p>di tempat wisata @Html.DisplayFor(modelItem => Model.Place) ini memiliki harga tiket <u>Rp.@Math.Round(@Model.Price)</u></p>
    <a class="styleLink" asp-controller="Admin" asp-action="Pembaruan">Kembali</a>
</body>