@model IEnumerable<Destination>
@{
    ViewData["Title"] = "Tempat Wisata";
}
<style>
    .styleLink{ 
      background: black;
      border-radius: 20px;
      margin-top: 20px;
      padding : 15px 20px 15px 20px;
      color: white;
      margin-bottom: 50px;
      }
      h4{
 font-family:'comic sans-ms';
color: #0F3460;
      }
      body{
  background-color: #D1E8E4;
}
</style>
<body>
    
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Tempat Wisata</th>
                <th scope="col">Kota </th>
                <th scope="col">Place</th>
                <th scope="col">Price</th>
                <th scope="col">Deskripsi</th>
            </tr>
            </thead>
    @foreach (var item in Model)
    {
            <tbody>
            <tr>
                <td>@item.Place</td>    
                <td>@item.Kota</td>
                <td>@item.Place</td>
                <td>@item.Price</td>
                <td>@item.Deskripsi</td>
                <td><a asp-controller="Admin" asp-action="Konfirmasi" asp-route-id="@item.Id">Add to List</a> |
            </tr>
            </tbody>
    }
        </table>
</body>